[submodule "cmsis/core"]
	path = cmsis/core
	url = https://github.com/ARM-software/CMSIS_5.git
	branch = master
[submodule "cmsis/tm4c"]
	path = cmsis/tm4c
	url = https://github.com/speters/CMSIS.git
	branch = master
[submodule "cmsis/dsp"]
	path = cmsis/dsp
	url = https://github.com/ARM-software/CMSIS-DSP.git
	branch = main
[submodule "tivaware"]
	path = tivaware
	url = https://github.com/kk4ead/TivaWare.git
	branch = master
    
    
